.logo svg {
    position: absolute;
    left: 146px;
    top: 30px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
}

.ant-menu-item-selected {
    background: #BFC4F6 !important;
    border-radius: 15px;
    border-right: none !important;
    &:after {
        display: none;
    }
    a {
        color: black;
    }
}

.ant-menu-item:hover {
    background: #E6F4FF;
    border-radius: 15px;
}

.page-title {
    border-bottom: 1px solid #C6C6C6;
    color: #C6C6C6;
}

.page-sort-select .ant-select-selector {
    border: none;
}