.logo svg {
    position: absolute;
    left: 146px;
    top: 30px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
}

.ant-menu-item {
    margin-left: 5px;
    margin-right: 5px;
    width: auto !important;
    border-radius: 15px;
    &:hover {
        background: #E6F4FF;
    }
}

.ant-menu-item-selected {
    background: #BFC4F6 !important;
    border-radius: 15px;
    border-right: none !important;
    &:after {
        display: none;
    }
    a {
        color: black;
    }
}

.ant-layout-sider {
    box-shadow: -20px 0 33px 0 #555;
}

.page-title {
    border-bottom: 1px solid #C6C6C6;
    color: #C6C6C6;
}

.page-sort-select .ant-select-selector {
    border: none !important;
}

.managers-table {
    table {
        border-spacing: 0 15px;
        border-collapse: separate;
    }
    thead {
        border-collapse: collapse;
        tr {
            height: 26px;
        }
    }
    thead tr th {
        padding-top: 0;
        padding-bottom: 0;
        background: white;
        border-bottom: 1px solid #ECECEC;
        border-top: 1px solid #ECECEC;
        font-weight: bold;
        font-size: 15px;
        color: #001737;
        &:before {
            display: none;
        }
    }
    thead tr th:first-child {
        border-left: 1px solid #ECECEC;
        border-top-left-radius: 7px !important;
        border-bottom-left-radius: 7px !important;
    }
    thead tr th:last-child {
        border-right: 1px solid #ECECEC;
        border-top-right-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
    }

    tbody {
        border-collapse: separate;
        border-spacing: 0 15px;
        td {
            border-top: 1px solid #ECECEC;
            font-size: 15px;
            height: 45px;
            padding-top: 0;
            padding-bottom: 0;
        }
        td:first-child {
            border-left: 1px solid #ECECEC;
            border-top-left-radius: 7px !important;
            border-bottom-left-radius: 7px !important;
        }
        td:last-child {
            border-right: 1px solid #ECECEC;
            border-top-right-radius: 7px !important;
            border-bottom-right-radius: 7px !important;

            svg {
                position: absolute;
                right: 10px;
                top: 15px;
                cursor: pointer;
            }
        }
    }
}

.site-form-in-drawer-wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
    border-top: 1px solid #e9e9e9;
}

.ant-drawer-header {
    background-color: #F4FAFF;
    .ant-drawer-close {
        position: absolute;
        right: 0;
    }
}
.ant-drawer-body .ant-form {
    display: flex;
    justify-content: center;
    .ant-form-item {
        .ant-form-item-control-input-content {
            display: flex;
            justify-content: center;
        }
    
        .ant-input {
            border-radius: 4px;
            height: 40px;
            width: 360px;
        }
    }
    
    .form-button-group {
        position: absolute;
        bottom: 50px;
    }
}

.ant-message-notice-content {
    display: inline-flex;
    padding: 12px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.add-button {
    color: #517268;
    font-family: SF Pro Display;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
}

.confirm-modal {
    .ant-modal-body {
        padding: 30px 40px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
        .ant-modal-confirm-content {
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-top: 0;
            .ant-modal-confirm-btns {
                margin-top: 30px;
                display: flex;
                flex-flow: row-reverse;
                
            }
            .ant-btn {
                margin-right: 10px;
            }
        }
    }
    .ant-btn-primary {
        width: 80px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #F0F0F0;
        color: black;
    }
    .ant-btn-default {
        width: 80px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #CEE6FC;
        color: black;
    }
}

.ant-modal-wrap {
    display: flex;
    align-items: center;
    .confirm-modal {
        top: 0;

        .ant-modal-confirm-btns {
            display: flex;
            flex-flow: row-reverse;
            justify-content: center;
            .ant-btn {
                margin-right: 10px;
            }
        }
    }
}

.message-span {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 

    span {
        color: #F98C8C;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}
.ant-message-success {
    display: inline-flex;
    text-align: left;
    align-items: center;
    span:first-child {
        svg {
            width: 25px;
            height: 25px;
        }
    }
}

.ant-table-cell {
    color: var(--button-black, #222);
    font-family: SF Pro Display;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.ant-form-item {
    margin-bottom: 15px;
}

.status-tag {
    .ant-radio-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        label.ant-radio-button-wrapper {
            width: 74px;
            height: 35px;
            flex-shrink: 0;
            border-radius: 5px;
        }
        .ant-radio-button-wrapper {
            width: 74px;
            height: 35px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #F5F5F5;
            margin: 5px 9px;
            &:before {
                height: 80%;
                top: 2px;
            }
            &:hover {
                background: #83a8f7;
                span {
                    color: white;
                }
            }
            &:active {
                span {
                    color: unset;
                }
            }
        }
        .ant-radio-button-wrapper-checked {
            width: 74px;
            height: 35px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #FCECCE;
            text-align: center;
            span {
                color: #7C6E53;
                text-align: center;
                font-family: SF Pro Display;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%; 
            }
        }
    }

}

.status-mark {
    display: flex;
    align-items: center;
    span {
        padding: 8px 14px;
        border-radius:5px; 
        text-align: center;
        font-size: 12px;
    }
}

.apartment-edit-success {
    .ant-message-success {
        display: flex;
        flex-direction: row-reverse;
    }
    span {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5px;
    }
}